<% @competitions.each do |comp| %>
  <p>Name: <%= comp.name %>
  <br>Location: <%= comp.location %>
  <br>Date: <%= comp.date %>
  <br>Open to the public?: <%= comp.open_to_the_public %>
  <br>Prize Money: <%= comp.prize_money %>
  <br>Created At: <%= comp.created_at %></p>
<% end %>
