Competition Name: <%= @comp.name %>
<% @comp.gerbils.each do |comp_gerb| %>
  <p>Name: <%= comp_gerb.name %>
  <br>Age: <%= comp_gerb.age %>
  <br>Color: <%= comp_gerb.color %>
  <br>Neutered?: <%= comp_gerb.neutered %></p>
<% end %>
